<nav>
    <div class="site-title">
        <a href="/">
            <h1><%= appObject.appName %></h1>
        </a>
        <p>Login And Send Messages For Free</p>
    </div>
    <ul>
      
          <li>
            <a href="/">
              <span> <%= appObject.title[2] %> </span>
            </a>
          </li>
          <li>
            <div>
              <a href="/sign-up">
                <span> <%= appObject.title[5] %> </span>
              </a>
              <a href="/log-in">
                <span> <%= appObject.title[7] %> </span>
              </a>
              <a href="/log-out">
                <span style="font-size: 1rem;"> <%= appObject.title[9] %> </span>
              </a>
            </div>
            
          </li> 

          <li>
            <a href="/new_message">
              <span> <%= appObject.title[4] %> </span>
            </a>
          </li> 


    </ul>
</nav>